*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
/application/third_party/phapper/config.php
/application/third_party/reddit-php-sdk/config.php
/application/third_party/OAuth2/RedditConfig.php